CASHFREE_APP_ID=your_cashfree_app_id_here
CASHFREE_SECRET_KEY=your_cashfree_secret_key_here
CASHFREE_ENVIRONMENT=sandbox
EBOOK_DOWNLOAD_SECRET=generate_a_random_secure_secret_here
SITE_URL=http://localhost:5173
EBOOK_GOOGLE_DRIVE_URL=https://drive.google.com/file/d/your_actual_file_id_here/view?usp=sharing
